@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.titleFont {
  font-family: "Comic Neue", serif;
  font-style: normal;
}

@keyframes moveRocket {
  0% {
    transform: translate(-30px, 50px) scale(0.5) rotate(-10deg);
  }
  50% {
    transform: translate(30%, -20%) scale(0.55) rotate(-50deg);
  }
  100% {
    transform: translate(22%, -30%) scale(0.6) rotate(-65deg);
  }
}

.rocket-animation {
  animation: moveRocket 20s linear forwards;
}

@keyframes spinRocket {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rocket-spin {
  animation: spinRocket 5s linear infinite;
}

.rocket-earth {
  animation: spinRocket 55s linear infinite;
}

.css-1808mag-MuiPaper-root-MuiAccordion-root.Mui-expanded {
  margin: 0 !important;
}

/* Nav scrolling */
.no-scroll {
  overflow: hidden;
}

/** Scroll Bar  */
.scrollBar::-webkit-scrollbar {
  width: 4px;
}

.scrollBar::-webkit-scrollbar-thumb {
  background: rgba(161, 161, 161, 0.452);
}

.scrollBar::-webkit-scrollbar-track {
  background: #ffffff;
}

/*? Scrollbar Hidden */
.scrollBarHidden::-webkit-scrollbar {
  width: 0px;
}

.scrollBarHidden::-webkit-scrollbar-thumb {
  background: #ffffff;
}

.scrollBarHidden::-webkit-scrollbar-track {
  background: #ffffff;
}

.customLeftRightPadding {
  padding-left: clamp(16px, 4.2440318302vw, 64px);
  padding-right: clamp(16px, 4.2440318302vw, 64px);
}

.customTopBottomPadding {
  padding-top: clamp(48px, 8.4880636605vw, 100px);
  padding-bottom: clamp(48px, 8.4880636605vw, 100px);
}

.imageHover {
  transition: all 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
